.example-icon {
    padding: 0 14px;
  }

.home-buttons {
    float: right;
    margin: -5px 5px 0px 2px;
}

.home-toggle-buttons {
    float: right;
    margin: 3px 5px 0px 2px;
}

.add-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 25px;
}

.custom-card {
    margin: 5px
}